.panel > .explorer {
    height: 100%;
}

.panel > .explorer > .explorer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    height: 22px;
    color: #CCCCCC;
    padding-inline: 8px;
    cursor: pointer;

    > .icon {
        width: 22px;
        height: 22px;
    }

    > input {
        outline: unset;
        color: #CCCCCC;
        border: 1px solid #0078D4;
        background-color: #313131;
        width: 100%;
        height: calc(100% - 4px);
        border-radius: 2px;
        font-size: 13px;
    }

    &:hover {
        background-color: #2A2D2E;
    }
}